body {
background-color:#000;
font-family:verdana;
}
header{
    transform:rotateX(65deg);
}
audio{
    display:none ;
}
.rings {
   background-color: transparent;
   position: fixed;
   padding:6px;
   border-radius:50%;
   border:solid;
   border-color: #ff0080;
   top: 800px;
   left: 120px;
   width: 100px;
   height: 100px;
   animation-name:onda;
   animation-duration:3s;
   animation-iteration-count:infinite;
   
}
#fo{
position:relative ;
color:#fff;
padding:5px;
top:425px;
}
p{
    text-align:left;
    font-size:20px;
    margin:0;
    padding:0;
}
#imagen{
    text-align:right;
    font-size:20px;
}
.rings:nth-child(1) {
   transform:scale(0.2);
   animation-delay:0s;
   z-index:18;
   
}
.rings:nth-child(2){
   transform:scale(0.35);
   animation-delay:.1s;
   z-index:17;
   
}
.rings:nth-child(3) {
   transform:scale(0.5);
   animation-delay:.2s;
   z-index:16;
}
.rings:nth-child(4){
   transform:scale(0.65);
   animation-delay:.3s;
   z-index:15;
}
.rings:nth-child(5) {
   transform:scale(.80);
   animation-delay:.4s;
   z-index:14;
}
.rings:nth-child(6){
   transform:scale(.95);
   animation-delay:.5s;
   z-index:13;
}
.rings:nth-child(7) {
   transform:scale(1.10);
   animation-delay:.6s;
  z-index:12;
}
.rings:nth-child(8){
   transform:scale(1.25);
   animation-delay:.7s;
   z-index:11;
}

.rings:nth-child(9) {
   transform:scale(1.40);
   animation-delay:.8s;
   z-index:10;
}
.rings:nth-child(10){
   transform:scale(1.55);
   animation-delay:.9s;
   z-index:9;
}
.rings:nth-child(11){
   transform:scale(1.70);
   animation-delay:1s;
   z-index:8;
}

.rings:nth-child(12){
   transform:scale(1.85);
   animation-delay:1.1s;
   z-index:7;
}

.rings:nth-child(13){
   transform:scale(2);
   animation-delay:1.2s;
   z-index:6;
}

.rings:nth-child(14){
   transform:scale(2.15);
   animation-delay:1.3s;
   z-index:5;
}

.rings:nth-child(15){
   transform:scale(2.30);
   animation-delay:1.4s;
   z-index:4;
}

.rings:nth-child(16){
   transform:scale(2.45);
   animation-delay:1.5s;
   z-index:3;
}

.rings:nth-child(17){
   transform:scale(2.60);
   animation-delay:1.6s;
   z-index:2;
}

.rings:nth-child(18){
   transform:scale(2.75);
   animation-delay:1.7s;
   z-index:-1;
}
a{  
    position:relative ;
    text-align:center;
    font-family:verdana;
    text-decoration:none !important;
    border-radius:7px;
    padding:5px;
    color:#fff;
    font-size:15px;
    background-color:#8000Ff;
}

@keyframes onda{
    0%{
        top:800px;
        border-width:1px !important  ;
        border-color:#ff0000;
    }
    50%{
        top:300px;
        border-color:#8000ff;
    }
    100%{
        top:800px;
        border-width:1px;
        border-color:#ff0080;
    }
}
p{
    color:#fff;
}